image: node:22
pages:
  stage: deploy
  cache:
    key:
      files:
        - package-lock.json
      prefix: npm
    paths:
      - node_modules/
  script:
    - npm install
    - npm run build
    - cp dist/index.html dist/404.html
    - cp -a dist/. public/
  artifacts:
    paths:
      - public
  only:
    - main
